@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  body {
    @apply bg-white text-charcoal font-sans antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-serif;
  }
}

@layer components {
  .btn-primary {
    @apply bg-primary hover:bg-primary-dark text-white px-6 py-3 rounded-[5px] font-medium transition-colors duration-200;
  }

  .btn-secondary {
    @apply bg-accent hover:bg-accent-light text-white px-6 py-3 rounded-[10px] font-medium transition-colors duration-200;
  }

  .btn-outline {
    @apply border-2 border-primary text-primary hover:bg-primary hover:text-white px-6 py-3 rounded-md font-medium transition-all duration-200;
  }

  .section-padding {
    @apply py-16 md:py-24 px-4 md:px-8;
  }

  .container-custom {
    @apply  mx-auto px-4 sm:px-6 md:px-10 lg:px-10 xl:px-20;
  }
}

/* Smooth scroll */
html {
  scroll-behavior: smooth;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f5f1e8;
}

::-webkit-scrollbar-thumb {
  background: #1a5f3f;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0f3d28;
}
